
/*main container, change to not use px later*/
.checkoutMain {
  margin: 0 auto; /*horizontal centering*/
  max-width: 1200px;
  padding: 20px;
  font-family: Inter; /*change font later*/
  /*color: blahblahblah ;*/
}

.checkoutBackground{
  /*cover whole screen, change later its kinda ugly
  idea MAKE CUSTOM WESTERN BOARD GAMES CARDS THAT GO AROUND*/
  background-color: #fcfcfc; /* White/Grey background like image */
  min-height: 100vh;
  font-family: Inter;
}

/*two column design*/
.checkoutColumns {
  display: flex;
  gap: 40px;
}

.leftColumn {
  flex: 1; 
}

.rightColumn {
  flex: 1; 
}

.infoBox{
  background-color: #ECF4D3;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0,0,0,0.25);
}

.returnBox {
  background-color: #f9fdf5; /*again, change off pixels later*/
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.25);
}

.buttonContainer {
  text-align: center; 
  margin-bottom: 20px;
}

.addGameBtn {
  background-color: #A4AE7C; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s; /*hover effect*/
}

.confirmButton {
  width: 100%;
  height: 4rem;
  background-color: #A4AE7C; 
  color: white;
  border: none;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/*checkout card for the board games*/
.checkoutCard {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  position: relative;

  /*allows for formatting of images and stuff later*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*list of games*/
.gameList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


/*Text Styling*/
.textSubtitle {
  color: black;
  margin-top: 10px;
  font-size: 20;
}
.textBody{
  color: black;
  margin-top: 5px;
  font-size: 16;
}
.textTitle {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.textHeader {
    color: #888;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-weight: normal;
}

