

/*main container, change to not use px later*/
.checkoutMain {
  background-color: #ECF4D3;
  max-width: 800px; /*stops it from getting too wide*/
  margin: 40px auto; /*horizontal centering*/
  padding: 30px;
  border-radius: 20px; 
  font-family: sans-serif; /* change font later */
  color: var(--text-dark);
}

/*Text Styling*/
.textSubtitle {
  color: black;
  margin-top: 10px;
  font-size: 20;
}
.textBody{
  color: black;
  margin-top: 5px;
  font-size: 16;
}
.textTitle {
  color: black;
  font-size: 32px;
  margin: 0;
  text-align: center;
}

/*checkout card for the board games*/
.checkoutCard {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  width: 800px;
}

/*list of games*/
.gameList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

